
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error500</title>
</head>
<body>
    <div> 
        啊哦，服务器发生错误了。
        <a href="/">返回首页</a>
    </div>
</body>
</html>
