
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IllegalOperation</title>
</head>
<body>
    <div>
        非法操作
        <a href="/">返回首页</a>
    </div>
</body>
</html>
