
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LackAuthority</title>
</head>
<body>
    <div> 
        无操作权限，请联系管理员
        <a href="/">返回首页</a>
    </div>
</body>
</html>
