
@{
    ViewBag.Title = "关于我";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<div style="margin: 2em 0 0; background-color: #FFFFFF;">
    <blockquote class="layui-elem-quote">“关于我”还没做啊。 </blockquote>
</div>

@section scripts{
    <script>
        layui.use(['jquery'], function () {
            var $ = layui.jquery;


            var $item = $('.blog-header .layui-nav > .layui-nav-item');
            $item.removeClass('layui-this');

            $item.each(function (i) {
                if (i == 1 || i == 3)
                    $(this).addClass('layui-this');
            });

        });
    </script>
}